@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    @apply h-full bg-beige text-neutral-900;
}

.header-gradient {
    background: linear-gradient(180deg, theme(colors.sunsetA), theme(colors.sunsetB));
}

.hero-textbox {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(240, 255, 240, 0.6);
}